.herolinks {
    text-decoration: none;
    color: #000;
    font-size: 20px;
    text-transform: capitalize;
    width: 550px;
}

.herolinks:hover {
    background-color: #111;
    color: #fcfcfc;
}

.herolink {
    text-decoration: none;
    color: #000;
    font-size: 20px;
    text-transform: capitalize;
}

.herolink:hover {
    background-color: #111;
    color: #fcfcfc;
}

.herodesc {
    color: #111;
    font-size: 16px;
    text-transform: capitalize;
}